{{!
    string msg-citizen-collapse-toggle The label used by the drawer button.
}}
<div id="steller-toggle-header" class="steller-toggle-header steller-toggle-nav citizen-dropdown-summary citizen-header__item" title="{{msg-citizen-collapse-toggle}}">
    <span class="citizen-ui-icon mw-ui-icon-wikimedia-collapse"></span>
    <span>{{msg-citizen-collapse-toggle}}</span>
</div>
